@using WebApplication1.ViewModels
@model WebApplication1.ViewModels.MovieList
@{
    ViewBag.Title = "Vidly";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<table>
    <tr>
        @foreach (var vm in Model.movies)
        {
            <td>
                @vm.Name;
            </td>
        }
    </tr>
</table>

